header{
  position: sticky;
  top: 0;
  z-index: 1000;   /* Asegura que el header esté por encima de otros elementos */
  display: flex;
  justify-content: space-around;
  background-color: rgb(28, 28, 29);
  align-items: center;
  height: auto;
  padding-left: 5%;
  padding-right: 5%;
}