.footer {
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  padding: 0.5%;
  color: rgb(241, 253, 166);
  font-size: medium;
  font-weight: 0;
  align-items: center;
}

.contact {
  font-size: small;
  font-weight: 0;
}