.list {
  list-style: none;
}

.custom-item.about {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(252, 254, 253);
  font-size: medium;
}

.custom-item.about:hover {
  color: rgb(247, 254, 156);
}

.custom-item.contact {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(252, 254, 253);
  font-size: 1rem; 
  margin-bottom: 1rem; 
  background-color: rgb(61, 61, 61);
  padding: 0.5rem;
  border-radius: 1rem;
}

.custom-item.contact:hover {
  color: rgb(247, 254, 156);
}

.custom-item.projects {
  display: flex;
  list-style: none;
  align-items: center;
  font-size: 1rem;
  padding: 0.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

.custom-item.projects:hover {
  color: rgb(247, 254, 156);
  text-decoration: underline;
}