.nav-type-projects {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  border-radius: 2rem; /* Bordes redondeados */
  padding-left: 1rem;
  padding-right: 1rem;
  width: fit-content;
  margin-bottom: 8%;
}