.project-list {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background-color: rgb(28, 30, 29); 
  color: rgb(241, 241, 241); 
  margin: 0;
  padding: 0;
  border-radius: 2rem;
}

.project-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  gap: 2rem;
}

.type-project {
  font-size: 1.2rem;
  color: #edff93;
  margin-bottom: 0.5rem;
}

.name-project {
  font-size: 1.5rem;
  color: rgb(255, 255, 241);
  margin-bottom: 0.5rem;
}

.description-project {
  font-size: 1rem;
  color: rgb(227, 214, 214);
  line-height: 1.5;
}

.project-image {
  width: 40%; 
  height: auto;
  max-width: 300px;
  border-radius: 2rem;
}
