.section-introduction {
  background-color: rgb(22, 22, 24);
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 20rem;
  padding-left: 20rem;
}

.introduction {
  font-size: large;
}

.title-tech-stack {
  font-size: 1.8rem;
}

.profession {
  color: rgb(243, 253, 157);
}

.technologies {
  color: rgb(243, 253, 157);
}