.tech-section {
  background-color: rgb(28, 30, 29);
  margin: 0;
  margin-bottom: 5%;
  margin-top: 2%;
  padding: 1.5%;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 2rem;
  height: 500px;
  width: auto;
}

.tech-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  align-items: center;
  gap: 5%;
}

.type-tech {
  text-align: center;
  font-size: x-large;
}